.tableWrapper {
  position: relative;
}

.tableContainer {
  padding-left: 340px;
  :global(table) {
    border-collapse: separate;
  }
  :global(th),
  :global(td) {
    height: 37px;
  }
}

.rankCell {
  position: absolute;
  left: 0;
  width: 40px;
}

.changeCell {
  position: absolute;
  left: 40px;
  width: 40px;
}

.userCell {
  position: absolute;
  left: 80px;
  width: 260px;
}

.userCellContent {
  padding-left: 32px;
  position: relative;
}

.userAvatar {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

img.userAvatar {
  width: 28px;
  height: 28px;
  font-size: 0;
}

i.userAvatar{
  text-align: center;
  font-size: 28px;
}

.userName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
