@import 'bulma/sass/utilities/mixins.sass';

.tableWrapper {
  position: relative;
}

.tableContainer {
  padding-left: 340px;
  :global(table) {
    border-collapse: separate;
  }
  :global(th),
  :global(td) {
    height: 37px;
    white-space: nowrap;
  }
  .sortable {
    padding: 0;
    :global(button) {
      padding: 0.5em 0.75em;
      font-size: inherit;
      border: none;
      background-color: transparent;
      cursor: pointer;
      height: 35px;
      font-weight: inherit;
      &:focus,
      &:hover {
        background-color: $grey-light;
        outline: none;
      }
    }
  }
}

.rankCell {
  position: absolute;
  left: 0;
  width: 40px;
}

.changeCell {
  position: absolute;
  left: 40px;
  width: 40px;
}

.userCell {
  position: absolute;
  left: 80px;
  width: 260px;
}

.userCellContent {
  padding-left: 32px;
  position: relative;
}

.userAvatar {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
}

img.userAvatar {
  height: 28px;
  font-size: 0;
}

i.userAvatar {
  text-align: center;
  font-size: 28px;
}

.userName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top1 {
  background-color: #ff0000;
  color: $white;
}

.top2 {
  background-color: #ff7f00;
}

.top3 {
  background-color: #ffff00;
}

.top4 {
  background-color: #00ff00;
}

.top5 {
  background-color: #0000ff;
  color: $white;
}

.top6 {
  background-color: #4b0082;
  color: $white;
}

.top7 {
  background-color: #9400d3;
  color: $white;
}

.top8 {
  background-color: $grey-lighter;
}

.top9 {
  background-color: $grey-dark;
  color: $white;
}

.top10 {
  background-color: $black-bis;
  color: $white;
}

.legend {
  dt {
    display: inline-block;
    width: 5rem;
    &::after {
      content: ':';
    }
  }
  dd {
    display: inline-block;
    margin-left: 0;
    @include mobile {
      display: block;
    }
  }
}

.scale {
  list-style: none !important;
  margin-left: 0 !important;
  li {
    position: relative;
    min-height: 2rem;
    padding-left: 3rem;
  }
  .square {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
