.user {
  padding-left: calc(0.75em + 35px);
  white-space: nowrap;
  text-align: left;
  padding-right: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.avatar {
  position: absolute;
  margin-top: -4px;
  margin-left: -35px;
  width: 28px;
  height: 28px;
  text-align: center;
  font-size: 28px;
}
