@import "bulma/sass/utilities/initial-variables.sass";
@import "bulma/sass/utilities/derived-variables.scss";
@import "bulma/sass/utilities/mixins.sass";

.question {
  & + .question {
    border-top: 1px solid $grey-lighter;
    padding-top: 3rem;
    margin-top: 3rem;
  }

  .questionText {
    margin-bottom: 1rem;
  }
}

.answersTable {
  margin-top: 2rem;
  .statusCell {
    width: 100px;
  }
  .actionsCell {
    width: 100px;
  }
}

.media {
  background-color: $white;
  width: 300px;
  max-width: 100%;
  margin: 1rem auto 0;
  & > * {
    width: 100%;
    vertical-align: top;
  }
}
