@charset "utf-8";

@import "font-awesome/scss/font-awesome.scss";

$body-size: 14px;

@import "bulma";

.navbar-link {
  border: none;
  background-color: transparent;
  font-size: inherit;
}

.navbar-item {
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: inherit;
  cursor: pointer;
}
