@charset "utf-8";

@import 'font-awesome/scss/font-awesome.scss';

$body-size: 14px;

@import 'bulma';
@import 'styles/Toasts.scss';

.navbar-link {
  border: none;
  background-color: transparent;
  font-size: inherit;
}

.tabs {
  padding: 0 0.1px;
}

.message .tabs a:not(.button):not(.tag):not(.dropdown-item) {
  text-decoration: none;
}

.tabs + .message-body {
  padding-top: 0;
  border-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.content figure.avatar {
  margin-left: 0;
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-top: 0;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
