@charset "utf-8";

@import 'font-awesome/scss/font-awesome.scss';

$body-size: 14px;

@import 'bulma';
@import 'styles/Toasts.scss';
@import 'styles/DateRangePicker.scss';

.indiana-scroll-container {
  cursor: grab;
}

.is-nowrap {
  white-space: nowrap !important;
}

main.container {
  overflow: hidden;
}

.hero-body,
.section {
  padding: 1.5rem;
  @include mobile {
    padding: 1.5rem 0.5rem;
  }
}

.column {
  max-width: 100%;
}

button.navbar-link {
  border: none;
  background-color: transparent;
  font-size: inherit;
  display: block;
  width: 100%;
  text-align: left;
}

.tabs {
  padding: 0 0.1px;
}

.message .tabs a:not(.button):not(.tag):not(.dropdown-item) {
  text-decoration: none;
}

.tabs + .message-body {
  padding-top: 0;
  border-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.content figure.avatar {
  margin-left: 0;
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-top: 0;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.message-actions {
  padding: 1.25em 1.5em;
  border-top: 1px solid $grey-lighter;
  .button:not(:last-child) {
    margin-right: 0.5em;
  }
}

.is-vertical-middle {
  vertical-align: middle !important;
}

.links-list {
  list-style: none !important;
  margin-left: 0 !important;
}
