@charset "utf-8";

@import 'font-awesome/scss/font-awesome.scss';

$body-size: 14px;
$green: #27ae60;
$red: #e74c3c;

@import 'bulma';
@import 'bulma-switch';
@import '@creativebulma/bulma-tooltip';
@import 'styles/Toasts.scss';
@import 'styles/DatePickers.scss';

.has-background-success,
.has-background-danger {
  color: $white;
  a {
    color: $white;
    &:hover {
      color: $grey-lighter;
    }
  }
}

.indiana-scroll-container {
  cursor: grab;
}

.is-nowrap {
  white-space: nowrap !important;
}

main.container {
  overflow: hidden;
}

.hero-body,
.section {
  padding: 1.5rem;
  @include mobile {
    padding: 1.5rem 0.5rem;
  }
}

.column {
  max-width: 100%;
}

button.navbar-link {
  border: none;
  background-color: transparent;
  font-size: inherit;
  display: block;
  width: 100%;
  text-align: left;
}

.tabs {
  padding: 0 0.1px;
}

.message .tabs a:not(.button):not(.tag):not(.dropdown-item) {
  text-decoration: none;
}

.tabs + .message-body {
  padding-top: 0;
  border-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.message-actions {
  padding: 1.25em 1.5em;
  border-top: 1px solid $grey-lighter;
  .button:not(:last-child) {
    margin-right: 0.5em;
  }
}

.is-vertical-middle {
  vertical-align: middle !important;
}

.links-list {
  list-style: none !important;
  margin-left: 0 !important;
}

.fieldset {
  border: 1px solid $grey-lighter;
  padding: 1rem;
}

.fieldset:not(:last-child) {
  margin-bottom: 0.75rem;
}

.legend {
  padding: 0 0.5rem;
  font-weight: bold;
}

.radio {
  margin-right: 0.5em;
  & + .radio {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
}

.file {
  &.is-loading {
    > .file-label {
      color: transparent;
      background-color: white;
      border-color: #dbdbdb;
      box-shadow: none;
      opacity: 0.5;
      pointer-events: none;
      &::after {
        position: absolute;
        left: calc(50% - (1em / 2));
        top: calc(50% - (1em / 2));
        position: absolute !important;
        border-color: transparent transparent $grey $grey !important;
        animation: spinAround 500ms infinite linear;
        border: 2px solid #dbdbdb;
        border-radius: 290486px;
        border-right-color: transparent;
        border-top-color: transparent;
        content: '';
        display: block;
        height: 1em;
        position: relative;
        width: 1em;
      }
    }
    .file-cta {
      & > * {
        opacity: 0;
      }
    }
  }
}

.content {
  figure.avatar {
    margin-left: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-top: 0;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  table {
    th {
      &.sortable {
        padding: 0;
        button {
          padding: 0.5em 0.75em;
          font-size: inherit;
          border: none;
          background-color: transparent;
          cursor: pointer;
          height: 35px;
          font-weight: inherit;
          width: 100%;
          text-align: left;
          white-space: nowrap;
          &:focus,
          &:hover {
            background-color: $grey-light;
            outline: none;
          }
        }
      }
    }
  }
}
