.field {
  .react-date-picker__wrapper,
  .react-daterange-picker__wrapper {
    position: relative;
    height: 2.25em;
    border-radius: 4px;
    background-color: $white;
    border: 1px solid $grey-lighter;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    &:hover {
      border-color: $grey-light;
    }
  }
  .has-icons-left {
    .react-date-picker__wrapper,
    .react-daterange-picker__wrapper {
      padding-left: 2.25em;
    }
  }
  .react-date-picker__inputGroup,
  .react-daterange-picker__inputGroup {
    padding: 0;
  }
  .react-daterange-picker__range-divider {
    margin: 0 0.5rem;
  }
  .react-date-picker__calendar,
  .react-daterange-picker__calendar {
    z-index: 5;
  }
  .react-calendar__navigation {
    margin-bottom: 0;
  }
  .react-calendar__navigation__label__labelText--from {
    display: block;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  .react-calendar__month-view__weekdays {
    display: none !important;
  }
}
