.react-datepicker-popper {
  z-index: 5;
}

.field {
  .react-datepicker-wrapper {
    height: 2.5em;
    border-radius: 4px;
    background-color: $white;
    border: 1px solid $grey-lighter;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    display: inline-flex;
    overflow: hidden;
    @media (prefers-color-scheme: dark) {
      background-color: $black-ter;
      border-color: $grey-light;
    }
    &:hover {
      border-color: $grey-light;
    }
    .react-datepicker__input-container {
      display: flex;
    }
    input {
      background-color: transparent;
      border: none;
      padding-left: calc(0.625em - 1px);
      padding-right: calc(0.625em - 1px);
      @media (prefers-color-scheme: dark) {
        color: $white-bis;
      }
      &[disabled] {
        background-color: $white-ter;
        cursor: not-allowed;
      }
    }
  }
  .has-icons-left {
    .react-datepicker-wrapper {
      input {
        padding-left: 2.25em;
      }
    }
  }
}

.react-datepicker {
  border-radius: 4px;
  font-family: inherit;
}

.react-datepicker__header {
  @media (prefers-color-scheme: dark) {
    background-color: $black-ter;
  }
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  @media (prefers-color-scheme: dark) {
    color: $white;
  }
  &::first-letter {
    text-transform: uppercase;
  }
}

.react-datepicker__month-container {
  @media (prefers-color-scheme: dark) {
    background-color: $black-bis;
  }
}

.react-datepicker__day {
  @media (prefers-color-scheme: dark) {
    color: $white;
    &:hover{
      background-color: $grey-darker;
    }
  }
}

.react-datepicker__day--disabled {
  @media (prefers-color-scheme: dark) {
    color: $grey-darker;
  }
}

.react-datepicker__day--outside-month {
  opacity: 0;
  pointer-events: none;
}
