@import 'bulma/sass/utilities/initial-variables.sass';
@import 'bulma/sass/utilities/derived-variables.scss';
@import 'bulma/sass/utilities/mixins.sass';

.questions {
  .form {
    margin-bottom: 2rem;
  }
  .fields {
    flex-direction: column;
    @include widescreen {
      flex-direction: row;
    }
    .radios {
      line-height: 2.5rem;
      label {
        margin-right: 1rem;
      }
      input {
        position: relative;
        top: -1px;
        margin-right: 0.25rem;
      }
    }
    .control {
      &:last-child {
        margin-top: 1rem;
        @include widescreen {
          margin-top: 0;
        }
      }
    }
  }
  .label {
    line-height: 2.5rem;
    padding-right: 1rem;
    margin-bottom: 0;
  }
  .question {
    min-width: 600px;
    &.admin {
      min-width: 550px;
    }
  }
  .answer {
    width: 200px;
  }
  .origin {
    width: 200px;
  }
  th.actions,
  .media,
  .used {
    text-align: center;
  }
  td.media,
  td.used {
    line-height: 35px;
  }
  td.actions {
    min-width: 125px;
  }
  .buttons {
    justify-content: center;
  }
}

.mediaContainer {
  width: 300px;
  max-width: 100%;
  margin: 1rem auto;
  &.image {
    background-color: $white;
  }
  & > * {
    width: 100%;
    vertical-align: top;
  }
}
